// COLORS

$regnet-green: #7ec5bd;
$regnet-dark-green: #396c65;

// ELEMENTS

body {
	background: white;
	margin: 0;
	padding: 0;
	color: $regnet-dark-green;
}

footer {
	background: $regnet-green;
	padding: 2em 0 8em;
	margin-top: 2rem;
	
	p {
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		-o-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-family: "regnzidens-bold";
		font-weight: lighter;
		font-size: 1em;
		margin-bottom: 0;
		color: white;
	}
}

img {
	max-width: 100%;
}

.lefty {
	float: left;
	margin: 0 1em 1em 0;
	max-width: 50%;
}

.righty {
	float: right;
	margin: 0 0 1em 1em;
	max-width: 50%;
}