@import "compass/css3/font-face";
@include font-face("Regnzidens-Bold", font-files("Regnzidenz-Bold.woff","Regnzidenz-Bold.ttf"), "Regnzidenz-Bold.eot", 700);

.center {
	text-align: center;
}

p {
	font-family: "freight-text-pro", serif;
	font-weight: 400;
	font-size: 1.25em;
	line-height: 1.32;
	padding: 1rem;
	color: #666;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Regnzidens-Bold';
	color: $regnet-green;
}

#hittaru ul, #portvin ul {
	font-family: 'Regnzidens-Bold';
}