@import "_basics";
@import "_grid";
@import "_type";
@import "_navigation";

@import "_portfolio";

#regnet-logo {
	position: fixed;
	width: 100%;
	top: 1.3em;
	left: 50%;
	margin-left: -50%;
	z-index: 1000;
}

.logo {
	max-width: 10rem;
}